

body {
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

header.masthead h1 {
  font-size: 3rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 4rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.cookye-title{
  color:#8940A8;
}
.cookye-subtitle{
  color:#bfa7c9;
  font-size: 40px;
}
.nav-light{
  height: 85px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.bg-light{
  border-bottom: 1px solid #eee;
}
.navbar-brand{
  font-size: 2rem;
}

.btn-theme { 
  color: #fff;
  background-color: #9D54BC; 
  border-color: #8940A8; 
} 
 
.btn-theme:hover, 
.btn-theme:focus, 
.btn-theme:active, 
.btn-theme.active, 
.open .dropdown-toggle.btn-theme { 
  color: #fff!important;
  background-color: #8E32B5; 
  border-color: #8940A8; 
} 

.description{
  font-size: 16px;
}
.circle{
  border-radius: 50%;
  padding: 10px 25px;
  border: 3px solid #6c757d;
}

#showcase-2{
  background-image: url('../img/bg-showcase-2.jpg');
}

#showcase-3{
  background-image: url('../img/bg-showcase-3.jpg');
}
#faixa{
  top:55px;
}
.line{
  margin-top:15px;
  background: #007bff;
  height: 3px;
  content:"";
}
#iconTop{
  position: absolute;
  text-align: center;
  padding:2px 5px;
  margin-left: 47.5%; 
  background: #fff;
}